
body {
    font-family: Arial, sans-serif;
    background-color: #a39e9e;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
}
main{
    display: flex; 
    align-items: left;
    padding: 20px;
    min-height: 100%;
    padding-bottom: 100px;
}
.intro {
    width: 40%; 
    height: 250px;
    margin: 50px 50px 40px 100px;
}img {
    width: 300px;
    height: 500px;
    border: 1px solid whitesmoke;
    border-radius: 15%;
    margin: 20px;
}

header {
    background-color: #ffd7be ; 
    color: #fff;
    padding: 15px 0;
    text-align: left;
    justify-content: center;
}
header nav ul {
    list-style-type: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
header nav ul li a {
        display: inline-block;
        padding: 5px 5px;
        border: 1px solid #fff;
        border-radius: 10%; 
        color: #fff;
        text-decoration: none;
        margin: 3px;
        transition: 0.5s; 
      }
header nav ul li a:hover {
    background-color: whitesmoke;
        color: #1c1c1c;
}
#about {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
.subsection {
    flex: 1 1 30%;
    min-width: 250px; 
    max-width: 300px;
    border-radius: 20px; 
    color:white;
    background-color: #b4b4b4;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
    text-align: center;
    box-sizing: border-box;
}
  .subsection h3 {
    margin-top: 0;
   bottom: 0;
    width: 100%;
    margin-top: 5px;
}
section{
    width: 100%;
    margin: 0px 30px 5px 100px;
}
img{
    width: 400px;
    height: 400px;
    margin: 80px 50px 0px 50px;
    float: right;
}
main {
    padding: 50px;
    text-align: center;
}
.intro, .about, .contact {
    margin-bottom: 40px;
    margin-top: 10px;
}
.intro h2, .about h2, .contact h2,h1 {
    color: #fff; 
    margin-top: 5px;
}
.intro p, .about p, .contact p {
    font-size: 18px;
    color: #fff;    
}
a {
    color: #ff6600;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:#928f8f; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    color: #333;
    background-color: whitesmoke; 
    transform: scale(1.1);
}
.button:active {
    transform: scale(0.95);
}
footer {
    background-color: #b4b4b4 ; 
    text-align: left;
    color: white; 
    padding: 20px 0; 
    font-size: 14px; 
    position: relative; /* Position relative for sticky behavior */
    bottom: 0;
    width: 100%;
}



